@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


.box{
    margin: 2em 1em;
    width: 78em;
    height: 45vh;
    background: hsla(360, 100%, 100%, .85);
    padding:2em;
    padding-bottom: 8em;
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 2vw;
    padding-right: 3vw;
    letter-spacing: 2px;
}

.contactForm {
    text-align: center;
    background-color: #FF7F00;
    font-family: 'Roboto Condensed', sans-serif;
    width: 40vw; 
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 1em;
}

.button {
    border: none;
    background-color: none;
    color: black;
    border: 2px solid #00CCFF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 15px 32px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 1em;
}

.button:hover {
    background-color: #00CCFF;
    color: white;
}
#name {
    height: 30px;
    width: 20vw;
}

#email {
    height: 30px;
    width: 20vw;
}
