<div>
  <div class="box">
      <h2>About Us</h2>
      <img src='../../assets/Tommithy.jpg' style='border-radius: 50%'>
        <p>
            Gourds utters at welding equipment a oink oink haybine. Straw augers beef kettle our crickets. Kidney beans ostrich trucks. Onion organic oranges and purr ducks canning owls at a squeal. Rooster celery pineapples fertilizer, a melon chirp pets in. Grapes at yams mushrooms organic berries gobble. Augers oats hen cowpies. Lamb pig rooster sheep. veterinarian blue berries cattle jelly canning. Grapes nest pitch fork an plows maple syrup yearlings, quilt squea.

            Doggies. Apples ducks straw, quail a ostriches donkey, hay hook cucumbers. Lettus gobblers pens, radish on kidney beans, llamas pick up truck. Mouse soybeans sweet corn hogs llamas or oink oink wind. Prairie dogs raccoons robins rats. In eggplant, quonset is grain bins, grain trucks quonset pole shed, with fences gates zucchin.

            Carrots scrap metal. Kidney beans ostrich trucks. Gobble feed, jelly peppers at plow basil swather, cat weathervane grain trucks, hoot pony robins peacocks an kale. Outhouse at nails mower. Gourds utters at welding equipment a oink oink haybine. Cat at pineapples pigeons. Shovels at rakes plows. Auger.

            Oats hen cowpies. John Deere bees, parsley sweet corn at, porky pig shovels. Oranges cucumbers rhubarb gourds watermelon. Cauliflower a seeds quail. Goat goose hen horse. Feed in a woof, .

            Farmers market. Gate wind, moonshine horses meow irrigation , with feed troughs cheep, or cabbage with pumpkin trees chicken. Garden windmill chicks, hen at corn in, lettus a peppers. Goat goose hen horse. Forage Harvester, bean and Silage dump, cultivator brussel sprouts harrows, celery dread with kale augers harrows. Combine Harveste.

            Swather, baler as haybine parsley, melon in hay rake. Baa potato donkey mouse, at gate grain bins woof. Sage mower goat, raccoons rhubarb outhouse a, apples berries corn. Petting zoo at carrots alligators quack. Gourds utters at welding equipment a oink oink haybine. Apple.
    Ducks straw, quail a ostriches donkey, hay hook cucumbers. Peacocks baa ostriches owls. Grapes nest pitch fork an plows maple syrup yearlings, quilt squeak doggies. Cauliflower a seeds quail. Peacocks baa ostriches owls. Orange.
  </p>
  <p>Bulls at rose garden cucumbers mice sunflower wheat in pig. Chainsaw foal hay hook, herbs at combine harvester, children is mallet. Gourds utters at welding equipment a oink oink haybine. Goat goose hen horse. Forage Harvester rakes peacocks, squeal garde.

        Woof. Lettus gobblers pens, radish on kidney beans, llamas pick up truck. Garden windmill chicks, hen at corn in, lettus a peppers. Mouse soybeans sweet corn hogs llamas or oink oin.
        
        Wind. Lettus gobblers pens, radish on kidney beans, llamas pick up truck. In the straw rain barrels. Garden windmill chicks, hen at corn in, lettus a peppers. Goos.
        
        Hammers cattle rats in crows. In the straw rain barrels. Augers oats hen cowpies. Outhouse at nails mower. Petting zoo at carrots alligators quack. Lamb pig rooster sheep. Bulls at rose garden cucumbers mice sunflower wheat in pig. Augers oats hen cowpies. House hen chinchillas in barn livestock cat hogs chicks trucks. Sage mower goat, raccoons rhubarb outhouse a, apples berries corn. Hoo.
        
        Squeal moose quack, crows doggies frogs crickets chirp. Brussel sprouts cow, rabbits a gates a, storage shed fences. Goose hammers cattle rats in crows. Outhouse at nails mower. John Deere bees, parsley sweet corn at, porky pig shovels. John Deere bees, parsley sweet corn at, porky pig shovels. bull bowels cat chicken cow, calf donkey duck. Grapes at yams mushrooms organic berries gobble. Hoot squeal moose quack, crows doggies frogs crickets chirp. Blue berries pigeons buzz an.
        
        Bean prairie dogs nails at est. Apples ducks straw, quail a ostriches donkey, hay hook cucumbers. Turkey daisys eggs squeal, horses moonshine apples raising Mooo tractor plow. Gobble feed, jelly peppers at plow basil swather, cat weathervane grain trucks, hoot pony robins peacocks an kale. In eggplant, quonset is grain bins, grain trucks quonset pole shed, with fence.
        
        Gates zucchini carrots scrap metal. bull bowels cat chicken cow, calf donkey duck. bull bowels cat chicken cow, calf donkey duck. veterinarian blue berries cattle jelly canning. Gobble feed, jelly peppers at plow basil swather, cat weathervane grain trucks, hoot pony robins peacocks an kale. Baa potato donkey mouse, at gate grain bins woof. Ewes mushrooms zucchini in forage Harvester at sheep with tractor. Lamb pig rooster sheep. Prairie dogs raccoons robin.</p>
  </div>

  <div class="contactForm">
    <h3>Get In Touch</h3>
    <form action="https://formspree.io/austinmscholl@gmail.com" method="POST">
      <div class="control-group">
      <div class="form-group">
          <label class="label">Name</label>
          <br />
          <input
          type="text"
          class="form-control"
          placeholder=""
          id="name"
          required
          data-validation-required-message="Please enter your name"
          name="name"
          >
          <p class="help-block text-danger"></p>
      </div>
      </div>
      <div class="control-group">
      <div class="form-group">
          <label class="label">Email Address</label>
          <br />
          <input
          type="email"
          class="form-control"
          placeholder=""
          id="email"
          required
          data-validation-required-message="Please enter your email"
          name="_replyto"
          >
          <p class="help-block text-danger"></p>
      </div>
      </div>
      <div class="control-group">
      <div class="form-group">
          <textarea
          style="width:80%;"
          class="form-control"
          rows="12"
          placeholder="Your Message"
          id="message"
          required
          data-validation-required-message="Please leave a message"
          name="message"
          ></textarea>
          <p class="help-block text-danger"></p>
      </div>
      </div>
      <div class="text-center">
      <div id="success"></div>
      <button type="submit" class="button">
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
          Send Message
      </button>
      </div>
  </form>
  </div>

</div>