@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.productContainer {
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin-top:10px;
    justify-content: center;
}

.product {
    border: 2px solid black;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.4);
    text-align:center;
    background: hsla(360, 100%, 100%, .7);

    &:hover{
        box-shadow: 6px 8px rgba(0, 0, 0, 0.4);
    }
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #FF7F00;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}