@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.box{
    margin-top: 10em;
    margin-left:10em;
    width: 40em;
    background: hsla(360, 100%, 100%, .85);
    padding:3em;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo1{
    position: absolute;
    right: 3%;
    top:21%; 
}

.bodyContainer{
    height:100%;
    background-image: url("../../assets/finalfencegrass.jpg");
    background-size: cover;
    height:100%;
}


.container{
    width:90%;
    display: grid;
    grid-template-columns: 50% auto;
    padding:1em;
    margin:0 auto;
}

.p{
font-family: 'Roboto Condensed', sans-serif;

}

